<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Vista Productos</h1>
        </div>
    </div>
    <div class="alert alert-danger">{{error}}</div>